
/*  SECTIONS  ============================================================================= */

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
	margin-bottom: 1%;
}

/*  GROUPING  ============================================================================= */


.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
	display: block;
	float:left;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */

/*  GRID OF THREE  */


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */
@media only screen and (max-width: 500px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
	.span_3_of_3 {
		width: 100%; 
	}
	.span_2_of_3 {
		width: 100%; 
	}
	.span_1_of_3 {
		width: 100%;
	}

	#navigation li{
		margin: 0 0 25px 0;
	}

	.form-search label{
		display: none;
	}
	.invisible{
		display: inline-block;
	}
	.visible{
		display: none;
	}
	.login-menu{
		top: -12px;
	}

}
@media only screen and (min-width: 500px) and (max-width: 700px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
	.span_3_of_3 {
		width: 100%; 
	}
	.span_2_of_3 {
		width: 100%; 
	}
	.span_1_of_3 {
		width: 100%;
	}

	#navigation li{
		margin: 0 0 35px 0;
	}

	.form-search label{
		display: none;
	}
	.invisible{
		display: none;
	}

}
/* SWITCH TO 2-COLUMN STYLE AT < 1024 PIXELS */
@media only screen and (min-width: 700px) and (max-width: 1024px) {
	.col { 
		margin: 1% 2% 1% 0;
	}

	.span_3_of_3 {
		width: 47.1%; 
	}
	.span_2_of_3 {
		width: 47.1%; 
	}
	.span_1_of_3 {
		width: 47.1%;
	}
	.invisible{
		display: none;
	}
}
@media only screen and (min-width: 1024px) {
	.col{
		margin: 1% 1% 1% 1.6%;
	}
	.span_3_of_3 {
		width: 100%;
	}
	.span_2_of_3 {
		width: 64.6%;
	}
	.span_1_of_3 {
		width: 30.7%;
	}
	.invisible{
		display: none;
	}
}