/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: midl:de;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 0px solid #888;
}

.footer-container,
.main aside {
    border-top: 0px solid #fff;
}

.header-container,
.footer-container,
.main aside {
    background: #fff;
}

.title {
    color: #000;
    text-indent: -5000px; 
    background: url('../img/crozpay-logo-final.png') no-repeat left center;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}
.title a{
    display: block;
    width: 198px;
    height: 62px;
    position: relative;
    overflow: hidden;
}
.title a:hover{

}
/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    height: 100%;
    margin-bottom: 10px;
    padding: 15px 0;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000;
}

nav a:hover {
    text-decoration: none;
    color: #404040;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    width: 100%;
    color: white;
    padding: 20px 0;
    background: #332A26;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.main-container{
    margin: 0;
    padding: 0;
}
.main-splash{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    /*background: url('../img/Job_search_reduced.jpg') no-repeat center top;*/
}

.tree-splash{
    position: relative;
    margin: 50px auto 0 auto;
    width: 800px;
    height: 766px;
    text-align: center;
    background: url('../img/vector-tree-final.png') no-repeat center top;
}
.tree-splash .play-tree{
    position: absolute;
    left: 50%;
    top: 263px;
}
.tree-splash .play-tree a{
    position: relative;
    left: -50%;
    display: block;
    width: 120px;
    height: 120px;
    background: url('../img/play-button-final.png') no-repeat top left;
    overflow: hidden;
    text-indent: -5000px;
    opacity: 0.85;
}
.tree-splash .play-tree a:hover{
        background: url('../img/play-button-final.png') no-repeat top right;
}
.main-splash p{
    font-family: 'Montserrat', sans-serif;
    /*font-weight: bold;*/
    margin: 0;
    padding: 50px 0 0 0;
    text-shadow: 2px 2px 1px rgba(255, 255, 255, 1);
    /*letter-spacing: 0.01em;*/
}
.main-splash h2{
    padding: 50px 0 0 0;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}
.main-splash form{
    margin-top: 15px;
}
.main-splash input{
    display: inline-block;
    margin: 0;
    padding: 9px 8px 8px 8px;
    line-height: 1.5em;
    vertical-align: middle;
    border: 1px solid #888;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.main-splash .newsletter-button{
    display: inline-block;
    margin: 0 0 0 20px;
    padding: 8px;
    color: #fff;
    font-size: 0.85em;
    text-align: center;
    line-height: 1.5em;
    letter-spacing: 0.015em;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    background: #E33B3B;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    white-space: nowrap;
    moz-box-sizing: border-box;
}

.orange{
    /*color: #e35d3b;*/
    color: #E33B3B;
}
.container_preview{
    width: 100%;
}
.main-preview{
    position: relative;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(18, 18, 18);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C00F1A1F, endColorstr=#C00F1A1F);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#C00F1A1F, endColorstr=#C00F1A1F)";

    border-radius: 32px;
    -moz-border-radius: 32px;
    -webkit-border-radius: 32px;
}
.main-preview img, .launching{
    margin: 32px;
    text-transform: uppercase;
}
.launching p{
    margin: 0 auto;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 2.4em;
    color: #e1e1e1;
    text-align: center;
    height: 100%;
}
.main-preview h3{
    padding-top: 30px;
    font-weight: normal;
    line-height: 1.8em;
}

.feature{
    float: left;
    width: 42%;
    margin: 50px 0;
}
.feature img{
    float: left;
    margin: 0 25px 0 0;
}
.feature ul{
    list-style: none;
}
.feature ul li{
    text-align: left;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 0.8em;
}
.feature p{
    text-align: center;
    letter-spacing: 0.035em;
}

.left-margin{
    margin-right: 12%; 
}
.lighted{
    width: 100%;
    margin: 0 auto;
    padding: 30px 0;
    background: -moz-linear-gradient(top, rgba(219,207,197,1) 0%, rgba(219,207,197,1) 1%, rgba(237,217,201,0.8) 45%, rgba(239,203,172,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(219,207,197,1)), color-stop(1%,rgba(219,207,197,1)), color-stop(45%,rgba(237,217,201,0.8)), color-stop(100%,rgba(239,203,172,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(219,207,197,1) 0%,rgba(219,207,197,1) 1%,rgba(237,217,201,0.8) 45%,rgba(239,203,172,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(219,207,197,1) 0%,rgba(219,207,197,1) 1%,rgba(237,217,201,0.8) 45%,rgba(239,203,172,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(219,207,197,1) 0%,rgba(219,207,197,1) 1%,rgba(237,217,201,0.8) 45%,rgba(239,203,172,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(219,207,197,1) 0%,rgba(219,207,197,1) 1%,rgba(237,217,201,0.8) 45%,rgba(239,203,172,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbcfc5', endColorstr='#efcbac',GradientType=0 ); /* IE6-9 */     
background:#e76c55;
}
h4{
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
}

.center{
    margin: 0 auto;
    float: none;
}
.feature p{
    text-align: left;
}
footer.wrapper{
    margin: 0 auto;
    text-align: center;
}
footer ul{
    list-style: none;
    margin: 0;
    padding: 20px 0 0 0;
}
footer ul li{
    display: inline-block;
    margin: 0 0 0 10px;
}
footer ul li a{
    display: block;
    width: 38px;
    height: 34px;
    text-indent: -5000px;
    overflow: hidden;
    background: url('../img/social_icons_sprite_col.png');
}
.wrapper p a{
    text-transform: lowercase;
    color: #888;
    text-decoration: none;
}
.wrapper p a:hover{
    color: #bbb;
    text-decoration: underline;
}
.fb{
    background-position: 0 0; 
}
.fb:hover{
    background-position: 0 100%; 
}
.twt:hover{
    background-position: 16% 100%; 
}
.twt{
    background-position: 16% 0;
}
.goo{
    background-position: 38% 0;
}
.goo:hover{
    background-position: 38% 100%; 
}
.pin{
    background-position: 60% 0;
}
.pin:hover{
    background-position: 60% 100%; 
}
.lnk{
    background-position: 80% 0;
}
.lnk:hover{
    background-position: 80% 100%; 
}
.git{
    background-position: 100% 0;
}
.git:hover{
    background-position: 100% 100%; 
}

footer h3{
    margin: 50px 0;
    color: #fafafa;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0px -2px 3px #111;
}
footer p{
    color: #888;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 0.8em;
    text-transform: uppercase;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 480px) {
    body{
        min-width: 400px;
    }
    .main{
        padding: 30px 0;
    }
    .main-splash{
        height: 500px;
    }
    .main-splash p{
        font-size: 1.4em;
        line-height: 1.4em; 
    }
    .main-splash h2{
        font-size: 1.6em;
        line-height: 1.6em;
    }

    .main-preview{
        top: -50px;
        width: 355px;
        height: 156px;
        border-radius: 16px;
        -moz-border-radius: 16px;
        -webkit-border-radius: 16px;
    }
    .main-preview img, .launching{
        width: 310px;
        height: 124px;
        margin: 16px;
         background: #1c1c1c;
    }
    .main-preview h3{
        font-size: 0.85em;
    }
    footer.wrapper p{
        font-size: 0.7em;
    }
    .launching{
        line-height: 100px;
    }
}

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: Main
   ======================== */
    .main{
        padding: 30px 0;
    }
    .main-splash{
        height: 550px;
    }
    .main-splash p{
        font-size: 1.6em;
        line-height: 1.4em; 
    }
    .main-splash h2{
        font-size: 2.0em;
        line-height: 1.6em;
    }

    .main-preview{
        top: -50px;
        width: 457px;
        height: 216px;
        padding-top: 1px;
    }
    .main-preview img, .launching{
        width: 387px;
        height: 152px;
         background: #1c1c1c;
    }
    .feature h4{
        padding-top: 50px;
    }
    .lighted .feature h4{
        padding-top: 0;
    }
    .launching{ 
        line-height: 140px;
    }
    footer h3{
        font-size: 2.6em;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        /*-webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;*/
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 42%;
    }

/* ============
    WIDE: Main
   ============ */

    .main-splash{
        height: 640px;
    }
    .main-splash p{
        font-size: 2.2em;
        line-height: 1.4em; 
    }
    .main-splash h2{
        font-size: 2.6em;
        line-height: 1.6em;
    }

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
    .main-preview{
        top: -100px;
        width: 747px;
        height: 331px;
        padding-top: 2px;
    }
    .main-preview img, .launching{
        width: 677px;
        height: 267px;
         background: #1c1c1c;
    }
     .launching{ 
        line-height: 240px;
    }
    .feature h4{
        padding-top: 0;
    }

    footer h3{
        font-size: 3.2em;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }

    .main-splash{
        height: 850px;

    }
    .main-splash p{
        font-size: 2.6em;
        line-height: 1.4em; 
    }
    .main-splash h2{
        font-size: 3.0em;
        line-height: 1.6em;
    }
    .main-preview{
        top: -100px;
        width: 1077px;
        height: 468px;
        padding-top: 2px;
    }
    .main-preview img, .launching{
        width: 1013px;
        height: 404px;
        background: #1c1c1c;
    }
     .launching{ 
        line-height: 400px;
    }
    .feature h4{
        padding-top: 0;
    }
    footer h3{
        font-size: 4.0em;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}