/* Expandable Stylesheet */
.item-container{
	
}
.expandable-container{
	position: absolute;
	width: 100%; /* To 100%*/
	height: 100%; /* To 100%*/
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.55);
	z-index: 100;
	opacity: 0;
	display: none;
}

.expandable-popup{
	position: absolute;
	top: 0;
	left: 0; /* left should be set at : window.size() - popup.size() * 0.5 */
	width: 0; /* To 980px */
	height: 0; /* To 300px */
	
	margin: 10px 0;
	border: 1px solid rgba(0, 0, 0, 0.3);
	outline: 0;
	background: #f1f1f1;

	background-clip: content-box;
	-moz-background-clip: content;
	-webkit-background-clip: content;
	box-shadow: 0 4px 16px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 4px 16px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 4px 16px rgba(0,0,0,0.2);
}
.popup-close{
	position: absolute;
	top: 5px;
	right: 5px;
	width: 21px;
	height: 21px;
}
.popup-close a{
	display: block;
	width: 21px;
	height: 21px;
	opacity: 0.7; 
	background: url('../img/cross.png') no-repeat top right;
}
.popup-close a:hover{
	opacity: 1;
}

.expandable-header{
	padding: 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	background: #fff;
}

.add-app{
	float: left;
	width: 100px;
	margin-left: 30px;
}
.add-app a{
	display: block;
	padding: 5px 0;
	color: #fff;
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-size: 0.75em;
	line-height: 1.0em;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	border: 1px solid #2d53af;

	background-color: #4d7bd6;
	background-image: -moz-linear-gradient(top,#5689db 0%,#4d7bd6 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#5689db),color-stop(100%,#4d7bd6));
	background-image: -webkit-linear-gradient(top,#5689db 0%,#4d7bd6 100%);
	background-image: -o-linear-gradient(top,#5689db 0%,#4d7bd6 100%);
	background-image: -ms-linear-gradient(top,#5689db 0%,#4d7bd6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5689db,endColorstr=#4d7bd6,GradientType=0);
	background-image: linear-gradient(top,#5689db 0%,#4d7bd6 100%);
	outline: 0px;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;

	box-shadow: 0 2px 0 0 rgba(255,255,255,.06) inset,0 2px 3px 0 rgba(0,0,0,.2);
	-moz-box-shadow: 0 2px 0 0 rgba(255,255,255,.06) inset,0 2px 3px 0 rgba(0,0,0,.2);
	-webkit-box-shadow: 0 2px 0 0 rgba(255,255,255,.06) inset,0 2px 3px 0 rgba(0,0,0,.2);

	/*text-shadow: 0px 1px 1px #222;*/
}
.add-app a:hover{
	color: #fff;
	text-decoration: none;	
}
.add-app span{
	position: relative;
	top: 2px;
	margin-right: 5px;
	font-size: 1.3em;
	font-weight: bold;
}

.add-block{
	float: right;
}
.add-block .clipzone{
	width: 100px; 
	height: 64px;
	overflow: hidden;
}
.add-block img{
	margin: -45px 0 -45px 0;
}

.expandable-header h3{
	margin: 0;
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-size: 1.4em;
	font-weight: bold;
}

.stars{
	float: left;
	border-right: 1px dotted #ccc;
}

/* Filter for browsers that don’t support :checked (they don't follow these rules).*/
.stars:not(:checked) > input {
    position: absolute;
    top: -9999px;
    clip: rect(0, 0, 0, 0);
}
.stars:not(:checked) > label {
    float: right;
    width: 1em;
    padding: 0;
    font-size: 115%;
    line-height: 1.2em;
    color: #ddd;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    text-shadow: 1px 1px #bbb;
}
.stars:not(:checked) > label:before {
    content: '★ ';
}
.stars > input:checked ~ label {
    color: #daa520;
    text-shadow: 1px 1px #c60;
}
.stars:not(:checked) > label:hover,
.stars:not(:checked) > label:hover ~ label {
    color: #ffd700;
    text-shadow: 1px 1px #daa520;
}
.stars > input:checked + label:hover,
.stars > input:checked + label:hover ~ label,
.stars > input:checked ~ label:hover,
.stars > input:checked ~ label:hover ~ label,
.stars > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow: 1px 1px #daa520;
}
.stars > label:active {
    position: relative;
    top: 0px;
    left: 0px;
}

.rating-number{
	float: right;
	margin: 0 8px;
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-size: 0.75em;
	font-weight: normal;
	line-height: 2.1em;
	letter-spacing: 0.05em;
}

.expandable-header ul{
	float: left;
	list-style: none;
	margin: 0 5px 0 15px;
	padding: 0;

}
.expandable-header ul li{
	display: inline-block;
	position: relative;
	margin: 0 8px;
	line-height: 1.2em;
}
.tag a{
	display: block;
	padding: 3px 6px;
	font-size: 0.7em;
	font-family: 'Montserrat', Helvetica, sans-serif;
	color: #444;
	text-decoration: none;
	background: #ededed;

	border-bottom-right-radius:4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;

	border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
}
.tag a:before{
	content: "";
	float: left;
	position: absolute;
	top: 0;
	left: -12px;
	width: 0;
	height: 0;
	border: 0;
	border-color: transparent #ededed transparent transparent;
	border-style: solid;
	border-width: 12px 12px 12px 0;
	outline: 0;
}
.tag a:after{
	content:"";
	position: absolute;
	top: 10px;
	left: 0;
	float: left;
	width: 4px;
	height: 4px;
	background: #fff;

	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	box-shadow: -1px -1px 2px #004977;
	-moz-box-shadow: -1px -1px 2px #004977;
	-webkit-box-shadow: -1px -1px 2px #004977;
}
.tag a:hover{ background: #dedede  }
.tag a:hover:before{ border-color: transparent #dedede transparent transparent; }

.users-number{
	float: left;
	padding-left: 10px;
	border-left: 1px dotted #ccc;
}
.users-number p{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-size: 0.75em;
	font-weight: normal;
	line-height: 2.0em;
	letter-spacing: 0.05em;
}
.users-number span{
	font-style: italic;
	color: #666;
}

.expandable-main{
	padding: 30px 20px;
}

.img-slider-container{
	float: left;
	width: 640px;
	margin: 0;
	padding: 0;
}
.expandable-img-slider{
	position: relative;
	width: 640px;
	height: 400px;
	border: 2px solid #fff;
	overflow: hidden;
	-moz-box-shadow: 1px 1px 5px 0px #656565;
	-webkit-box-shadow: 1px 1px 5px 0px #656565;
	-o-box-shadow: 1px 1px 5px 0px #656565;
	box-shadow: 1px 1px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
}
.expandable-img-slider ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.expandable-img-slider ul li{
	float: left;
	margin: 0;
	padding: 0;
	width: 640px;
	height: 400px;
	overflow: hidden;
}

.controller-container{
	margin: 20px 0;
	text-align: center;
}
.slider-controller{
	display: inline-block;
	margin: 0 auto;
}
.slider-controller li{
	float: left;
	width: 10px;
	height: 10px;
	margin: 0 10px 0 0;
}
.slider-controller li a{
	display: block;
	width: 10px;
	height: 10px;
	text-indent: -5000px;
	text-decoration: none;
	text-align: center;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: -1px -1px 1px #004977;
	-moz-box-shadow: -1px -1px 1px #004977;
	-webkit-box-shadow: -1px -1px 1px #004977;
}
.slider-controller li a:hover{
	background: #004977;
}
.non-current{
	background: #ccc;
}
.current{
	background: #004977;
}
/*
.expandable-slider-box{
	position: relative;
	width: 5000px;
}
*/
.expandable-slider-box li img{
	width: 640px;
	height: 400px;
}

.expandable-description{
	float: left;
	width: 260px;
	margin: 0 0 0 20px;
}

.expandable-description h4, .customer-reviews h3{
	margin: 0;
	font-family: 'Montserrat',Helvetica, sans-serif;
	font-size: 1.05em;
	font-weight: normal;
	letter-spacing: 0.02em;
}
.expandable-description p{
	font-size: 0.8em;
	text-align: justify;
}
.user-review-block{
	height: 150px;
	padding: 0;
	margin: 0;
	overflow-y: scroll;
	clear: both;
}
.customer-reviews{
	padding: 0;
	margin: 0;
}

.write-review{
	margin: 10px 0 15px 20px;
}
.write-review a{
	display: block;
	padding: 3px 0 3px 30px;
	/*font-family: 'Montserrat', Helvetica, sans-serif;*/
	font-size: 0.95em;
	font-weight: normal;
	color: #222;
	text-decoration: none;
	background: url('../img/write-review-final.png') no-repeat left center;
}
.write-review a:hover{
	color: #444;
	text-decoration: underline;
}

.user-review{
	margin: 10px 0 20px 0;
	padding: 0 0 5px 0;
	border-bottom: 1px solid #dedede;
}
.user-review:last-child{
	border: 0;
}
.user-review h4{
	margin: 0;
	float: left;
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-size: 0.9em;
	font-weight: normal;
	line-height: 1.6em;
	color: #222;
}
.user-review .stars{
	margin-left: 15px;
	border: 0;
}
.user-review p.date{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-size: 0.7em;
	font-weight: normal;
	color: #444;
	clear: both;
}
.user-review p{
	font-size: 0.75em;
	letter-spacing: 0.01em;

}

ol{
	list-style: none;
}
ol li a{
	text-indent: -5000px;
}