/* Settings stylesheet */

.section-settings{
	
}
.section-settings h2{
	margin: 0;
	font-family: 'Montserrat',Helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	letter-spacing: 0.02em;
}
.section-settings form{
	margin-bottom: 40px;
}
.section-settings p{
	margin-left: 20px;
}

.block-settings{
	width: 500px;
	margin: 20px 20px;
	padding: 5px 0;
	clear: both;
	background: #f1f1f1;

	border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
.block-settings div.field{
	height: 30px;
	margin: 0 0 0 0;
	padding: 10px 20px;
	border-bottom: 1px dashed #ccc;
	clear: both;
}
.block-settings div.field:last-child{
	border: 0;
}
.block-settings label, .block-settings legend{
	float: left;
	font-size: 0.9em;
	color: #222;
	text-align: left;
	line-height: 2.0em;
}

.payment-field{
	height: 90px;
	padding: 10px 20px;
	border-bottom: 1px dashed #ccc;
	clear: both;
}
.payment-field label{
	float: none;
}
.payment-field label img{
	float: right;
}
.payment{
	float: right;
	width: 250px;
	margin: 0;
	padding: 0;
}
.payment p{
	margin: 5px 0 0 0;
	padding: 0;
	color: #777;
	font-size: 0.6em;
}
.payment input{
	margin: 0 10px 12px 0;
}

.block-settings .field input, .field select{
	float: right;
	padding: 6px;
	font-size: 0.9em;
	background: #fff;
	border: 1px solid #bbb;
	line-height: 1.2em;

	border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
	-webkit-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;	
}
.field label span{
	float: left;
	font-size: 0.65em;
    color: #777;
    line-height: 0.6em;
}
.field select{
	margin-left: 10px;
}
.form-help {
    display: none;
    font-size: 90%;
}
.field input:focus{
	border: 0;
	outline: 0;
}
.field input:focus + .form-help {
	position: relative;
	top: 0;
	left: -8px;
    display: inline-block;
    float: right;
    font-size: 0.6em;
    line-height: 3.0em;
    color: #777;
}
.field input:focus:valid{
	border: 1px solid #83c41a;
	background: url('../img/valid.png') no-repeat 97% 50%;
}
.field input:focus:invalid{
	border: 1px solid #d02718;
	background: url('../img/invalid.png') no-repeat 97% 50%;
}

.section-settings button{
	margin-right: 10px;
	padding: 7px 10px;
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-size: 0.78em;
	color: #fff;
	text-decoration: none;
	text-align: center;
	text-indent: 0px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;	
}
button.edit-acc-button{

	background-color: #ffce79;
	border: 1px solid #eeb44f;
	text-shadow: 1px 1px 0px #ce8e28;

	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffce79), color-stop(1, #eeaf41) );
	background:-moz-linear-gradient( center top, #ffce79 5%, #eeaf41 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffce79', endColorstr='#eeaf41');
	
	-moz-box-shadow:inset 0px 1px 0px 0px #fceaca;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fceaca;
	box-shadow:inset 0px 1px 0px 0px #fceaca;	
}
button.edit-acc-button:hover{
	background-color: #eeaf41;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eeaf41), color-stop(1, #ffce79) );
	background:-moz-linear-gradient( center top, #eeaf41 5%, #ffce79 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeaf41', endColorstr='#ffce79');
}
button.change-pwd-button{
	border: 1px solid #d02718;
	text-shadow: 1px 1px 0px #810e05;
	background-color:#f24537;

	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
	background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');

	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
}
button.change-pwd-button:hover{
	background-color: #c62d1f;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
	background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
}
button.save-changes-button{
	border: 1px solid #83c41a;
	background-color: #b8e356;
	text-shadow: 1px 1px 0px #86ae47;

	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52) );
	background:-moz-linear-gradient( center top, #b8e356 5%, #a5cc52 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52');
	
	-moz-box-shadow: inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow: inset 0px 1px 0px 0px #d9fbbe;
	box-shadow: inset 0px 1px 0px 0px #d9fbbe;
}
button.save-changes-button:hover{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356) );
	background:-moz-linear-gradient( center top, #a5cc52 5%, #b8e356 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356');
	background-color:#a5cc52;
}
.section-settings button:active{
	position: relative;
	top: 1px;
}

.left-settings{
	float: left;
}

