/* Library Stylesheet */

header{
	width: 100%;
	height: 32px;
	background: #f1f1f1;
	z-index: 10;
	-webkit-box-shadow: 0 6px 6px -6px #777;
	   -moz-box-shadow: 0 6px 6px -6px #777;
	        box-shadow: 0 6px 6px -6px #777;
}

header h1{
	float: left;
	width: 90px;
	height: 27px;
	margin: 0 5% 0 0.2%;
	background: url('../img/crozpay-logo-small.png') no-repeat center left;
	border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
	
}
h1 a{
	display: block;
	text-indent: -5000px;
	overflow: hidden;
}
.form-search{
	float: left;
	width: 30%;
	white-space: nowrap;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.form-search label{
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-size: 0.95em;
	color: #777;
	padding-right: 15px;
}
.search-field{
    display: inline-block;
    width: 60%;
    margin: 0;
    padding: 6px 8px 6px 8px;
    line-height: 1.5em;
	font-size: 0.95em;
    vertical-align: middle;
    border: 1px solid #888;
    border: 0;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /*
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    */
}
.search-button{
    display: inline-block;
    width: 15px;
    height: 16px;
    margin: 0 0 0 15px;
    padding: 6px;
    letter-spacing: 0.015em;
    vertical-align: middle;
    cursor: pointer;
    background: url('../img/search.png') no-repeat top center;
    border: 0;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    white-space: nowrap;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.form-login{
	position: relative;
	float: right;
	margin: 0 8.2% 0 0;
}
.form-login img{
	float: left;
	width: 32px;
	height: 32px;
	border: 2px solid #fff transparent;
	border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
.visible img{
	margin: 0 10px 0 0;
}
.form-login p{
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-size: 0.9em;
	line-height: 2.4em;
	margin: 0;
}
.form-login p a{
	color: #777;
	text-decoration: none;
}
.form-login p a:hover{
	color: #666;
	text-decoration: none;
}

nav.user-menu{
	position: absolute;
	top: 30px;
	right: 0;
	z-index: 140;
}
.user-menu ul{
	margin: 0;
	padding: 15px 0 0 0;
	list-style: none;

	-webkit-box-shadow: 0 6px 6px -6px #777;
	   -moz-box-shadow: 0 6px 6px -6px #777;
	        box-shadow: 0 6px 6px -6px #777;
}
.user-menu ul li{
	width: 100px;
	height: 24px;
	margin: 0;
	padding: 3px 15px 3px 10px;
	background: #f1f1f1;
	/* background: #191818 */
	
}
.user-menu ul li:first-child{
	
}
.user-menu ul li:last-child{
	border: 0;
	padding-bottom: 6px;
}
.user-menu ul li a{
	display: block;
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-size: 0.65em;
	color: #777;
	line-height: 2.2em;
	text-align: right;
	text-decoration: none;
	letter-spacing: 0.02em;
}
.user-menu ul li a:hover{
	/*color: #fff;*/
	color: #444;
}
.user-menu ul li:first-child a{
	background: url('../img/settings.png') no-repeat left center;
	
}
.user-menu ul li:first-child a:hover{
	
}
.user-menu ul li:last-child a{
	background: url('../img/logout.png') no-repeat left center;
	
}
.user-menu ul li:last-child a:hover{
	
}

.expand-menu{
	display: inline-block;
	margin: 0;
}
.login-menu{
	position: relative;
	top: -2px;
	display: inline-block;
	width: 0px;
	height: 0px;
}

.bottom-arrow{
	border-style: solid;
	border-width: 5px 5px 0 5px;
	border-color: #666 transparent transparent transparent;
}
.top-arrow{
	border-style: solid;
	border-width: 0 5px 5px 5px;
	border-color: transparent transparent #666 transparent;
}

.bubble {
	position: absolute;
	height: 15px;
	padding: 5px 10px;
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-size: 0.7em;
	background: #444;
	color: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	z-index: 20;
}

.bubble:after {
	content: "";
	position: absolute;
	top: 5px;
	left: -5px;
	border-style: solid;
	border-width: 8px 8px 8px 0;
	border-color: transparent #444444;
	display: block;
	width: 0;
	z-index: 25;
}
.settings{
	float: left;
	display: block;
	width: 30px;
	height: 31px;
	margin-right: 10px;
	padding-left: 0;
	background: url('../img/icons/settings-final.png') no-repeat right bottom;
	text-indent: -5000px;
}
.settings:hover{
	background: url('../img/icons/settings-final.png') no-repeat left bottom;
}

.pam{
	padding: 20px;
}
.mod{
  	overflow: hidden;
}

.container{
	position: absolute;
	width: 100%;
	height: auto;
}
aside{
	position: absolute;
	/*width: 20%;*/
	width: 70px;
	min-width: 70px;
	height: 100%;
	background: #191818;
	z-index: 1;
	-webkit-box-shadow: 0 6px 6px -6px #777;
	   -moz-box-shadow: 0 6px 6px -6px #777;
	        box-shadow: 0 6px 6px -6px #777;
}

#navigation{
	padding: 20px;
	border-right: 0px solid #000;
}
#navigation ul{
	margin: 0;
	padding: 0;
}
#navigation li{
	margin: 0 0 50px 0;
}
#navigation li a{
	display: block;
	width: 30px;
	height: 30px;
	text-indent: -5000px;
	overflow: hidden;
}
#navigation li a.apps{
	background: url('../img/icons/userlist_30x30.png') no-repeat center top;
}
#navigation li a.apps:hover, .apps:active{
	background: url('../img/icons/userlist_30x30_active.png') no-repeat center top;
}
#navigation li a.design{
	background: url('../img/icons/design_30x30.png') no-repeat center top;
}
#navigation li a.design:hover, .design:active{
	background: url('../img/icons/design_30x30_active.png') no-repeat center top;
}
#navigation li a.development{
	background: url('../img/icons/development_30x30.png') no-repeat center top;
}
#navigation li a.development:hover, .development:active{
	background: url('../img/icons/development_30x30_active.png') no-repeat center top;
}
#navigation li a.management{
	background: url('../img/icons/management_30x30.png') no-repeat center top;
}
#navigation li a.management:hover, .management:active{
	background: url('../img/icons/management_30x30_active.png') no-repeat center top;
}
#navigation li a.education{
	background: url('../img/icons/education_30x30.png') no-repeat center top;
}
#navigation li a.education:hover, .education:active{
	background: url('../img/icons/education_30x30_active.png') no-repeat center top;
}
/*
#navigation li br{
	margin-top: 10px;
}
*/
#navigation li a{
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-size: 0.85em;
	text-align: center;
	color: #888;
	text-decoration: none;
}
#navigation li a:hover{
	color: #f1f1f1;
	text-decoration: none;
}
#main{
	/*margin-left: 20%;*/
	margin-left: 70px;
	min-height: 800px;
	height: 100%;
}

.col{
	width: 70%;
	height: 200px;
	background: #fff;
	margin: 40px auto;
	padding: 0;
	position: relative;  
	height: 200px;

    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 80px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 80px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 80px rgba(0, 0, 0, 0.1) inset;
}
.col:before, .col:after{
	content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 15px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 15px rgba(0,0,0,0.8);
    box-shadow:0 0 15px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.col .item-image{
	position: relative;
	float: right;
	width: 100px;
	height: 100%;
	margin: 0;
	background: transparent;
	border-left: 1px solid #ccc;
}
a.item-expand{
	display: block;
	text-decoration: none;
}

.add-triangle-container{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 30px;
	height: 30px;
	background: transparent;
}
.add-triangle{
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 0 30px 30px;
	border-color: transparent transparent #b8241f transparent;
}
.add-triangle button{
	position: absolute;
	width: 30px;
	height: 30px;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0 2px 0 0;
	font-family: ;
	font-size: 1.0em;
	color: #fff;
	text-align: right;
	line-height: 2.3em;
	background: transparent;
	border: 0;
	outline: 0;
}

.col .item-content{
	margin: 0 20px 20px 20px;
}
.col .item-content h3{
	position: relative;
	top: 0;
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	color: #333;
	text-align: left;
	text-transform: uppercase;
}
.col p{
	font-size: 0.8em;
	line-height: 1.2em;
	text-align: justify;
	color: #222;
	margin-right: 100px;
}

ul.ariane{
	list-style: none;
	margin: 0;
	padding: 0;
}
.ariane > li{
	display: inline-block;
	float: left;
	margin: 0 0 25px 0;
	padding: 0 0 0 8px;
	height: 32px;
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-size: 0.9em;
	line-height: 32px;
	background: #dcdcdc;
	text-shadow: 0 1px 0 rgb(255, 255, 255);
}
.ariane > li > a{
	float:left;
	margin: 0;
	padding: 0;
	color: #737373;
	text-decoration: none;
}
.ariane > li > a:hover{
	color: #444;
	text-decoration: none;
}
.ariane > li > .divider, .divider-last{
	display: inline-block;
	padding: 0;
	width: 32px;
	height: 32px;
	line-height: 32px;
	color: #ccc;
	background: url('../img/bread-crumb-divider-final-2.jpg') no-repeat 0% 0% transparent;
}
.ariane > li.pull-right{
	float: right;
	width: 30px;
	border-radius: 8px;
}
.pagination{
	clear: both;
}
.pagination{
	float: right;
	margin: 20px 20px 0 0;
}
.pagination ul{
	list-style: none;
	margin: 0;
}
.pagination ul li{
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-size: 0.95em;
	display: inline;
	padding: 0 0.3em;
}
.pagination ul li a{
	color: #888;
	text-decoration: none;
}
.pagination ul li a:hover{
	text-decoration: underline;

}
/*
.ariane > li.pull-right a{
	display: block;
	width: 30px;
	height: 30px;
	padding-left: 0;
	background: url('../img/icons/settings_30x30.png') no-repeat center top;
	text-indent: -5000px;
}
.ariane > li.pull-right a:hover{
	float: right;
	background: url('../img/icons/settings_30x30_active.png') no-repeat center top;
}
*/
.divider-last{
	width: 14px;
}
.item-image{
	background: #888;
}


/* blocks that needs to be placed under floats */

.clear,
.line,
.row {
  clear: both;
}

/* blocks that must contain floats */

.clearfix:after,
.line:after,
.mod:after {
  content: "";
  display: table;
  clear: both;
}


/* hasLayout for IE6/IE7 */

.ie67 .clearfix,
.ie67 .line,
.ie67 .mod,
.ie67 .row,
.ie67 .col {
  zoom: 1;
}